llama-index
llama-index-core
llama-index-llms-ollama
google-api-python-client
google-auth-oauthlib
llama-index-embeddings-ollama
llama-agents
llama-parse
llama-hub
llama-index-readers-google
llama-index-tools-wikipedia
llama-index-llms-openai
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-vector-stores-milvus
docker
streamlit
click
nest-asyncio
requests
tqdm